#login-container {
	.header {
		text-align: center;
		font-family: 'VT323', ;
		font-size: 45px;
		margin-bottom: 80px;
		width: 100%;

	}

	.login {
		text-align: center;
		border: 3px solid black;
		border-radius: 10px;
		padding: 60px;
		padding-bottom: 80px;
		margin-right: 20px; 
		margin-left: 20px;
		background-image: url(http://images.clipartpanda.com/free-clipart-backgrounds-xTg5beGTA.svg);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		/*background-attachment: fixed;*/
		background-color: 0,0,0,0.6;
		height: 30%;
		color: white;
	}

	.login h3 {
		font-family: 'VT323', ;
		margin: 10px;
		font-size: 20px;
	}

	.login label {
		font-family: 'VT323', ;
		font-size: 20px;
		margin: 1%;
		width: 20%;
	}

	.login input {
		border-radius: 5px;
		margin: 1%;
		width: 20%;
	}

	.login button {
		padding: 10px;
		margin: 0px;
		font-family: 'VT323', ;
		border-radius: 20px;
		border: 3px solid black;
		margin-top: 50px;
		color: white;
		background-color: white;
		width: 30%;

	}

	.login button a {
		text-decoration: none;
		color: black;
		font-size: 20px;
	}

	.login button input {
		text-decoration: none;
		color: black;
		background-color: white;
		border: none;
		font-size: 20px;
		font-family: 'VT323', ;
	}
}
