#home-container {
	width: 85%;
	margin: 0 auto;
	background-color: 0,0,0,0.6;
	min-height: 100vh;


	 
	.header {
		text-align: center;
		font-family: 'VT323', ;
		font-size: 30px;
		margin-bottom: 40px;
	}

	.homeNav {
		text-align: center;
		color: white;
		font-size: 25px;
		font-family: 'VT323', ;
	}

	.signup a {
		color: black;
	}

	.login a {
		color: black;
	}

	.image img{
		display: block;
		text-align: center;
		margin: 0 auto;
		width: 80%;
		height: 400px;
	}

	.footer {
		margin-top: 0px;
		text-align: center;
		font-size: 25px;
		font-family: 'VT323', ;
		clear: both;
	}
 
}
